<h1>User Profile</h1>

<%= render 'layouts/navigation' %>

<div class="user-info">
    <div class="user-avatar">
        <% if @user.photo.attached? %>
            <%= image_tag @user.photo.variant(resize_to_limit: [500, 500]), alt: "User's Photo", class: "user-photo" %>
        <% else %>
            <% gravatar_url = "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}" %>
            <%= image_tag(gravatar_url, alt: "User Avatar") %>
        <% end %>
    </div>
        <% if current_user != @user %>  <!--if logged user isn't the same as this one and not already following, permit the form to add a follow -->
            <% if !current_user.following?(@user) %>
                <%= form_with url: user_follow_requests_path(@user), method: :post do |form| %>
                    <%= form.hidden_field :followee_id, value: @user.id %>
                    <%= form.submit "Follow" %>
                <% end %>
            <% else %>
                <%= form_with url: user_follow_request_path(current_user, @user), method: :delete do |form| %>
                    <%= form.submit "Unfollow" %>
                <% end %>
            <% end %>
        <% end %>
    <div class="user-details">
        <p>Email: <%= @user.email %></p>
    </div>
</div>

<h2>Posts from <%= @user.email %> :</h2>
<%= render partial: "posts/posts_list", locals: { posts: @user.posts.order(created_at: :desc) } %>

<li><%= link_to "Edit user : #{current_user.email}", edit_user_registration_path %></li>