<% posts.each do |post| %>
  <div style="border: 1px solid #333; padding: 10px; margin-bottom: 10px;">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <% if post.image.attached? %>
      <%= link_to post_path(post) do %>
        <%= image_tag post.image.variant(resize_to_limit: [500, 500]), class: "post-image" %>
      <% end %>
    <% end %>
    <p><%= post.body %></p> 
      <p>Author: <%= link_to user_path(post.user) do %>
                <% if post.user.photo.attached? %>
                  <%= image_tag post.user.photo.variant(resize_to_limit: [100, 100]), class: "author-profile-picture" %>
                <% else %>
                  <%= image_tag post.user.gravatar_url, alt: "User's Gravatar", class: "author-profile-picture" %> <!--otherwise use the gravatar -->
                <% end %>
              <% end %>
      <p> <a href="/users/<%= post.user.id %>"><%= post.user.email %></a>  </p>
    </p>
    <p>Likes: <%= post.likes.count %></p>
    <p>Comments: <%= post.comments.count %></p>
  </div>
<% end %>